<div class="ui-carousel-controls mt-6 flex items-center justify-center gap-4 justify-self-center md:mt-10">
  <div class="ui-carousel-prev reviews-carousel-nav-item cursor-pointer border-[rgba(var(--color-foreground),1)] transition-colors duration-300 ease-in-out hover:bg-[rgba(var(--color-secondary-button),1)] hover:text-[rgba(var(--color-foreground),1)]">
    {% render 'svg-arrow', type: 'left', class: 'ui-carousel-arrow' %}
  </div>
  <div class="ui-carousel-next reviews-carousel-nav-item order-[rgba(var(--color-foreground),1)] cursor-pointer  transition-colors  duration-300 ease-in-out hover:bg-[rgba(var(--color-secondary-button),1)] hover:text-[rgba(var(--color-foreground),1)]">
    {% render 'svg-arrow', type: 'right', class: 'ui-carousel-arrow' %}
  </div>
</div>
