<div class="hamburger pointer-events-none">
  <div class="hamburger__inner">
    <div class="hamburger__lines">
      <span class="hamburger__line hamburger__line--top"></span>
      <span class="hamburger__line hamburger__line--bottom"></span>
    </div>
  </div>
</div>
