<span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
<span class="sr-only">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble bg-peach absolute top-0 right-0 z-10 flex h-5 w-5 items-center justify-center rounded-full text-xs">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
